/* Pick up where Tachyons left off.*/
.w6 {
  width: 32rem;
}

/* Grids. */
.dg {
  display: grid;
}
.gc1 {
  grid-column-start: 1;
}
.gc2 {
  grid-column-start: 2;
}
.gr1 {
  grid-row-start: 1;
}
.gr2 {
  grid-row-start: 2;
}
.gr3 {
  grid-row-start: 3;
}

/* Icons */
.feather {
  width: 24px;
  height: 24px;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

/* Special Stuff */
.card-box-container {
  display: grid;
  grid-template-columns: auto 1fr;
}

.wiki-editor-container {
  display: grid;
  grid-template-rows: 2rem 1fr 2rem;
  row-gap: 0.5rem;
  height: 400px;
  position: relative;
}
